{% extends "layout.html" %}

{% block title %}
    Flight System
{% endblock %}

{% block body %}
   <h1> Book a Flight </h1>
  <form action="{{ url_for('book') }}" method="post">
   <div class ="form-group">
    <select class="form-control" name = "fid">
      {% for flight in flights %}
      <option value="{{flight.id}}">{{flight.origin}} to {{flight.destination}}</option>
      {% endfor %}
    </select>
  </div>
  <div class ="form-group">
    <input class="form-control" type="text" name="name" placeholder="Passenger name">
  </div>
  <div class ="form-group">
    <button class="btn btn-primary">Book Flight</button>
  </div>
</form>

{% endblock %}
